<%- include('../templates/auth-header') %>
<p><b>ID: </b><%= data.id %></p>
<p><b>Email: </b><%= data.email %> </p>
<p><b>Nombre: </b><%= data.firstName %></p>
<p><b>Apellidos: </b><%= data.lastName %></p>
<a href="/user">Regresar a la lista</a>
<%- include('../templates/footer') %>